.transcript {
    background-color: #fff;
    padding: 10px;
}

.message {
    border-radius: 12px;
    margin-bottom: 1px;
    padding: 10px;
}

.message.message--received {
    background-color: rgb(225, 225, 231);
    color: #000;
}

.message.message--sent {
    background-color: rgb(14, 120, 247);
    color: #fff;
}
